$accent-color: yellow;
$internal-link-color: #ffff62;
$external-link-color: #7474ff;
$background-color: #191919;
$code-background-color: #2a2a2a;
$dark-color: #151515;
$darker-color: #111;
$font-color: #fff;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: $background-color;
}

#main-content {
  padding: 1rem 2rem;
}

p {
  line-height: 1.5rem;
}

body {
  font-family: "Inter", sans-serif;
  color: $font-color;
  background-color: $dark-color;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  margin: 0 auto;
  @media (min-width: 1000px) {
    width: 1000px;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.highlight {
  pre {
    padding: 0.5rem;
  }
  code {
    background-color: $code-background-color;
  }
}

code{
  font-family: "JetBrains Mono", monospace;
}

nav {
  padding: 0.5rem;
  background: $darker-color;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: $internal-link-color;
  text-decoration: none;
  border: 1px solid transparent;
  &:hover {
    border-color: $internal-link-color;
  }
}

// external links
a[href^="http"] {
  color: $external-link-color;
  &:hover {
    border-color: $external-link-color;
  }
}

a[target="_blank"]::after {
  content: "↗";
  font-size: small;
}

footer {
  background-color: $darker-color;
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
}

.grid {
  font-size: 1.5rem;
  width: fit-content;
  margin: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  text-align: center;
}

.columns {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}
