{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
    {% for post in postslist | reverse %}
        {# skip posts without title #}
        {% if post.data.title %}
            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                <a href="{{ post.url }}" class="postlist-link">
                    {{ post.data.title }}
                </a>
                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
            {% endif %}
        </li>
    {% endfor %}
</ol>