---
layout: layouts/home.njk
eleventyNavigation:
  key: Blogg 
  order: 2
---
<h1>Blogg</h1>

<p>Varje inlägg har <a href="/tags">taggar</a>, som gör det enklare att navigera, samt se vad för område som hanteras i texten.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
